.flip-container {
    perspective: 1000px;
    width: 250px;
    height: 400px;
    margin: auto;
    cursor: pointer;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-container.clicked .flip-card {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    background: white;
}

.flip-front {
    z-index: 2;
}

    .flip-front img {
        padding:5px;
        width: 250px;
        height: 250px;
        object-fit:scale-down;
        
        
    }

    .flip-front .info {
        padding: 12px;
        text-align: center;
    }

        .flip-front .info h5 {
            font-size: 20px;
            margin-bottom: 4px;
        }

        .flip-front .info p {
            margin: 0;
            font-size: 20px;
            color: #555;
        }

.flip-back {
    transform: rotateY(180deg);
    padding: 70px;
    font-size: 20px;
    text-align: center;
}
